body{
	margin: 0;
	background-color: #DCDCDC;
}

.nav{
	
	background-color: #3F51B5;
	padding:20px;
	text-align: center;
	position: relative;
}
.navbar-header{

	display: inline-block;
	float: none;
	width: 100%;
}
#navtext{

	color: white;
}
.formbox{

	display: flex;
   	flex-direction: column;
	position: relative;
	align-items: center;
	background-color: white;
	border:0 2px 10px rgb(0 0 0 / 20%);
}

label{
	font-family:Monospace;
	font-size: 15px;
	color: black;
}
#nametextbox{

	margin-bottom: 10px;
}
.checklist{

	margin: 10px;
}

#Button{
	padding:0px;
	text-align:center;
	font-family: Monospace;
	font-size: 15px;
	width: 60px;
	height: 40px;
	background-color: green;
	border-radius: 3px;
}
